<h2>Create a New City</h2>
<%= form_with url: 'create', local: true, method: "post" do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br>

	<%= f.label :population %>
	<%= f.number_field :population %>
	<br>

	<%= f.label :landmark %>
	<%= f.text_field :landmark %>
	<br>
  	<%= f.submit "Create" %>
  	<br>
<% end %>
